@{
}

@using Common.Types;
@model List<ParticipantDto>

<div class="modal fade" id="SplitParticipantsModal" tabindex="-1">
	<div class="modal-dialog modal-lg modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalLabel">Contact Status</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
			</div>

			<div class="modal-body">
				<p><strong>Split ID:</strong> @Model[0]?.SplitParticipant.SplitID </p>
				<!--<p><strong>Title:</strong> {{ splitTitle }}</p>-->

				<table class="table table-bordered">
					<thead class="table-light">
						<tr>
							<th>Participant</th>
							<th>Status</th>
							<th>Payment</th>
							<th>Due Amount (₹)</th>
						</tr>
					</thead>
					<tbody>
						@foreach(ParticipantDto p in Model)
						{
							<tr>
								<td> @p.UserData.UserName </td>
								<td>
										<span class="@(p.SplitParticipant.SplitStatus == SplitStatus.APPROVED_UNPAID || p.SplitParticipant.SplitStatus == SplitStatus.PAID ? "text-success" : "text-danger")">
											@(p.SplitParticipant.SplitStatus == SplitStatus.APPROVED_UNPAID || p.SplitParticipant.SplitStatus == SplitStatus.PAID ? "APPROVED" : "PENDING")
									</span>
								</td>
								<td>
										<span class="@(p.SplitParticipant.SplitStatus == SplitStatus.PAID ? "text-success" : "text-danger")">
										@(p.SplitParticipant.SplitStatus == SplitStatus.PAID ? "PAID" : "PENDING")
									</span>
								</td>
								<td>@p.SplitParticipant.OweAmount</td>
							</tr>
						}
					</tbody>
				</table>
			</div>

			<div class="modal-footer">
				<button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
